.error {
 color: red;
}

*{
  box-sizing: border-box;
}
.container{
  width : 100%;
}

html,body,h1{
  font-family: sans-serif;

}

.content {
  font-weight: bold;
  color : blue;
  margin-left: 20px;
}

.col-lg-4 {
   float: left;
   padding: 15px;
   margin : 5px;
   width: 48%;
 }

h1 {
  text-align: center;
  color : Green;
  padding: 15px;

}
